In [38]:
import pickle
import os

In [5]:
def create():
    f=open("library.dat","wb")
    fx=open("num.txt","w")
    id=99
    while True:
        d={}
        id+=1
        l=[]
        Name_of_customer=input("enter name")
        l.append(Name_of_customer)
        Title_of_Book=input("enter title")
        l.append(Title_of_Book)
        Author=input("enter author name")
        l.append(Author)
        Date_of_Issuing=input("enter date of issuing")
        l.append(Date_of_Issuing)
        Date_of_Returning=input("enter date of returning")
        l.append(Date_of_Returning)
        d[id]=l
        print(d)
        pickle.dump(d,f)
        ch=input("do you want to enter more records(y/n)")
        if ch=="n" or ch=="N":
            break
    f.close()
    fx.write(str(id))
    fx.close()

In [10]:
def append():
    f=open("library.dat","ab")
    fx=open("num.txt","r+")
    id=int(fx.read())
    while True:
        d={}
        id=id+1
        l=[]
        Name_of_customer=input("enter name")
        l.append(Name_of_customer)
        Title_of_Book=input("enter title")
        l.append(Title_of_Book)
        Author=input("enter author name")
        l.append(Author)
        Date_of_Issuing=input("enter date of issuing")
        l.append(Date_of_Issuing)
        Date_of_Returning=input("enter date of returning")
        l.append(Date_of_Returning)
        d[id]=l
        print(d)
        pickle.dump(d,f)
        ch=input("do you want to enter more records(y/n)")
        if ch=="n" or ch=="N":
            break
    f.close()
    fx.seek(0)
    fx.write(str(id))
    fx.close()

In [12]:
def display_all_rec():
    f=open("library.dat","rb")
    try:
        while True:
            d=pickle.load(f)
            a=list(d.keys())
            print("The id is{}, name is {},title is {},author is {}"
                  " ,date of issuing is {} ,date of returning is {}" 
                  .format(a[0],d[a[0]][0],d[a[0]][1],d[a[0]][2],
                          d[a[0]][3],d[a[0]][4]))
            
    except EOFError:pass
    finally:f.close()

In [20]:
def delete_id_rec():
    f1=open("library.dat","rb")
    f2=open("temp.dat","wb")
    lib_id=int(input("enter ID to delete"))
    flag=0
    try:
        while True:
            d=pickle.load(f1)
            if lib_id in d:
                flag=1
            else:
                pickle.dump(d,f2)
    except EOFError:
        if flag==0: 
            print("sorry ID to delete was not there")
    finally:
        f1.close()
        f2.close()

In [33]:
def delete_name_rec():
    f1=open("library.dat","rb")
    f2=open("temp.dat","wb")
    nm=input("enter name to delete")
    flag=0
    try:
        while True:
            d=pickle.load(f1)
            for i in d:
                a_name,b_title,c_author,d_doi,d_dor=d[i]
                if a_name.lower()==nm.lower():
                    flag=1
                else:
                    pickle.dump(d,f2)
    except EOFError:
        if flag==0: 
            print("Sorry name to delete was not there")
        else:
            print("Deleted record")
    finally:
        f1.close()
        f2.close()

In [31]:
def modify_name_of_customer():
    f1=open("library.dat","rb")
    f2=open("temp.dat","wb")
    id=int(input("enter id to search: "))
    name=input("enter name no to changed:")
    count=0
    try:
        while True:
            d=pickle.load(f1)
            if id in d:
                d[id][0]=name
                count=1
                pickle.dump(d,f2)
            else:
                pickle.dump(d,f2)
            print(d)
    except EOFError:
        if count==0: print("sorry id whose name had to be changed was not there")
    finally:
        f1.close()
        f2.close()

In [45]:
def search():
    if not os.path.isfile("library.dat"):
        print("sorry, file not found")
    else:
        f=open("library.dat","rb")
        name=input("enter name")
        flag=0
        try:
            while True:
                d=pickle.load(f)
                for i in d:
                    if d[i][0]==name:
                        flag=1
                        print("name",i)
                        print("The name is %s ,title is %s, author is %s, date of issuing is %s,date of returning is %s"%\
                              (d[i][0],d[i][1],d[i][2],d[i][3],d[i][4]))
        except EOFError:
            if flag==0:
                print("sorry, name not found in the database")
        finally:
            f.close()

In [48]:
import datetime
while True:
    Input_date1=input("enter the date in format 'dd/mm/yy':")
    day,month,year=Input_date1.split("/")
    isValidDate=True
    try:
        
        datetime.datetime(int(year),int(month),int(day))
    except ValueError:
        isValidDate=False
    if(isValidDate):
        print ("date of issuing is valid")
        break
    else:
        print("date entered by you is invalid, enter again")

enter the date in format 'dd/mm/yy':20/04/2020
date of issuing is valid

In [49]:
import datetime
while True:
    Input_date2=input("enter the date in format 'dd/mm/yy':")
    day,month,year=Input_date2.split("/")
    isValidDate=True
    try:
        datetime.datetime(int(year),int(month),int(day))
    except ValueError:
        isValidDate=False
    if(isValidDate):
        print ("date of returning is valid")
        break
    else:
        print("date entered by you is invalid, enter again")

enter the date in format 'dd/mm/yy':27/04/2020
date of returning is valid

In [53]:
def main():
    while True:
        print(" 1.Create\n 2.Append\n 3.Display\n 4.Delete by name\n 5.Delete by id\n 6.Modify name\n 7.Search by name\n 8.Exit")
        ch=input("enter your choice")
        if ch=='1':
            create()
        elif ch=='2':
            append()
        elif ch=='3':
            display_all_rec()
        elif ch=='4':
            delete_name_rec()
        elif ch=='5':
            delete_id_rec()
        elif ch=='6':
            modify_name_of_customer()
        elif ch=='7':
            search()
        elif ch=='8':
            break
        else:
            print("invalid choice,try again")

In [6]:
create()

enter nameRam Gupta
enter titleGone Girl
enter author nameGillian Flyyn
enter date of issuing12-04-2020
enter date of returning19-04-2020
{100: ['Ram Gupta', 'Gone Girl', 'Gillian Flyyn', '12-04-2020', '19-04-2020']}
do you want to enter more records(y/n)y
enter nameRiya Sharma
enter titleWings of Fire
enter author nameAPJ Abdul Kalam
enter date of issuing05-04-2020
enter date of returning12-04-2020
{101: ['Riya Sharma', 'Wings of Fire', 'APJ Abdul Kalam', '05-04-2020', '12-04-2020']}
do you want to enter more records(y/n)y
enter nameAnil Bajaj
enter titleRomeo and Juliet
enter author nameShakespeare
enter date of issuing03-04-2020
enter date of returning10-04-2020
{102: ['Anil Bajaj', 'Romeo and Juliet', 'Shakespeare', '03-04-2020', '10-04-2020']}
do you want to enter more records(y/n)y
enter nameParitosh Saini
enter titleWar and Peace
enter author nameLeo Tolstoy
enter date of issuing11-04-2020
enter date of returning18-04-2020
{103: ['Paritosh Saini', 'War and Peace', 'Leo Tolstoy', '11-04-2020', '18-04-2020']}
do you want to enter more records(y/n)y
enter nameAbhishekh Singh
enter titleEmma
enter author nameJane Austen
enter date of issuing20-04-2020
enter date of returning27-04-2020
{104: ['Abhishekh Singh', 'Emma', 'Jane Austen', '20-04-2020', '27-04-2020']}
do you want to enter more records(y/n)n

In [11]:
append()

enter nameRam Sharma
enter titleUlysses
enter author nameJames Joyce
enter date of issuing01-04-2020
enter date of returning08-04-2020
{105: ['Ram Sharma', 'Ulysses', 'James Joyce', '01-04-2020', '08-04-2020']}
do you want to enter more records(y/n)y
enter nameTina Mehta
enter titleGone With The Wind
enter author nameMargaret Mitchell
enter date of issuing07-04-2020
enter date of returning14-04-2020
{106: ['Tina Mehta', 'Gone With The Wind', 'Margaret Mitchell', '07-04-2020', '14-04-2020']}
do you want to enter more records(y/n)y
enter nameArya Bachchan
enter titleDeception Point
enter author nameDan Brown
enter date of issuing08-04-2020
enter date of returning15-04-2020
{107: ['Arya Bachchan', 'Deception Point', 'Dan Brown', '08-04-2020', '15-04-2020']}
do you want to enter more records(y/n)n

In [13]:
display_all_rec()

The id is100, name is Ram Gupta,title is Gone Girl,author is Gillian Flyyn ,date of issuing is 12-04-2020 ,date of returning is 19-04-2020
The id is101, name is Riya Sharma,title is Wings of Fire,author is APJ Abdul Kalam ,date of issuing is 05-04-2020 ,date of returning is 12-04-2020
The id is102, name is Anil Bajaj,title is Romeo and Juliet,author is Shakespeare ,date of issuing is 03-04-2020 ,date of returning is 10-04-2020
The id is103, name is Paritosh Saini,title is War and Peace,author is Leo Tolstoy ,date of issuing is 11-04-2020 ,date of returning is 18-04-2020
The id is104, name is Abhishekh Singh,title is Emma,author is Jane Austen ,date of issuing is 20-04-2020 ,date of returning is 27-04-2020
The id is105, name is Ram Sharma,title is Ulysses,author is James Joyce ,date of issuing is 01-04-2020 ,date of returning is 08-04-2020
The id is106, name is Tina Mehta,title is Gone With The Wind,author is Margaret Mitchell ,date of issuing is 07-04-2020 ,date of returning is 14-04-2020
The id is107, name is Arya Bachchan,title is Deception Point,author is Dan Brown ,date of issuing is 08-04-2020 ,date of returning is 15-04-2020

In [21]:
delete_id_rec()

enter ID to delete120
sorry ID to delete was not there

In [34]:
delete_name_rec()

enter name to deleteAnil Bajaj
Deleted record

In [32]:
modify_name_of_customer()

enter id to search: 107
enter name no to changed: Arya
{100: ['Ram Gupta', 'Gone Girl', 'Gillian Flyyn', '12-04-2020', '19-04-2020']}
{101: ['Riya Sharma', 'Wings of Fire', 'APJ Abdul Kalam', '05-04-2020', '12-04-2020']}
{102: ['Anil Bajaj', 'Romeo and Juliet', 'Shakespeare', '03-04-2020', '10-04-2020']}
{103: ['Paritosh Saini', 'War and Peace', 'Leo Tolstoy', '11-04-2020', '18-04-2020']}
{104: ['Abhishekh Singh', 'Emma', 'Jane Austen', '20-04-2020', '27-04-2020']}
{105: ['Ram Sharma', 'Ulysses', 'James Joyce', '01-04-2020', '08-04-2020']}
{106: ['Tina Mehta', 'Gone With The Wind', 'Margaret Mitchell', '07-04-2020', '14-04-2020']}
{107: ['Arya', 'Deception Point', 'Dan Brown', '08-04-2020', '15-04-2020']}

In [46]:
search()

enter nameRiya Sharma
name 101
The name is Riya Sharma ,title is Wings of Fire, author is APJ Abdul Kalam, date of issuing is 05-04-2020,date of returning is 12-04-2020

In [54]:
main()

 1.Create
 2.Append
 3.Display
 4.Delete by name
 5.Delete by id
 6.Modify name
 7.Search by name
 8.Exit
enter your choice2
enter nameLucy George
enter titleHamlet
enter author nameShakespeare
enter date of issuing01-04-2020
enter date of returning08-04-2020
{109: ['Lucy George', 'Hamlet', 'Shakespeare', '01-04-2020', '08-04-2020']}
do you want to enter more records(y/n)y
enter nameAnanya Kaur
enter titleThe Diary of a Young Girl
enter author nameAnne Frank
enter date of issuing07-04-2020
enter date of returning14-04-2020
{110: ['Ananya Kaur', 'The Diary of a Young Girl', 'Anne Frank', '07-04-2020', '14-04-2020']}
do you want to enter more records(y/n)n
 1.Create
 2.Append
 3.Display
 4.Delete by name
 5.Delete by id
 6.Modify name
 7.Search by name
 8.Exit
enter your choice7
enter nameArya
sorry, name not found in the database
 1.Create
 2.Append
 3.Display
 4.Delete by name
 5.Delete by id
 6.Modify name
 7.Search by name
 8.Exit
enter your choice3
The id is100, name is Ram Gupta,title is Gone Girl,author is Gillian Flyyn ,date of issuing is 12-04-2020 ,date of returning is 19-04-2020
The id is101, name is Riya Sharma,title is Wings of Fire,author is APJ Abdul Kalam ,date of issuing is 05-04-2020 ,date of returning is 12-04-2020
The id is102, name is Anil Bajaj,title is Romeo and Juliet,author is Shakespeare ,date of issuing is 03-04-2020 ,date of returning is 10-04-2020
The id is103, name is Paritosh Saini,title is War and Peace,author is Leo Tolstoy ,date of issuing is 11-04-2020 ,date of returning is 18-04-2020
The id is104, name is Abhishekh Singh,title is Emma,author is Jane Austen ,date of issuing is 20-04-2020 ,date of returning is 27-04-2020
The id is105, name is Ram Sharma,title is Ulysses,author is James Joyce ,date of issuing is 01-04-2020 ,date of returning is 08-04-2020
The id is106, name is Tina Mehta,title is Gone With The Wind,author is Margaret Mitchell ,date of issuing is 07-04-2020 ,date of returning is 14-04-2020
The id is107, name is Arya Bachchan,title is Deception Point,author is Dan Brown ,date of issuing is 08-04-2020 ,date of returning is 15-04-2020
The id is108, name is Lucy George,title is Hamlet,author is Shakespeare ,date of issuing is 01-04-2020 ,date of returning is 08-04-2020
The id is109, name is Lucy George,title is Hamlet,author is Shakespeare ,date of issuing is 01-04-2020 ,date of returning is 08-04-2020
The id is110, name is Ananya Kaur,title is The Diary of a Young Girl,author is Anne Frank ,date of issuing is 07-04-2020 ,date of returning is 14-04-2020
 1.Create
 2.Append
 3.Display
 4.Delete by name
 5.Delete by id
 6.Modify name
 7.Search by name
 8.Exit
enter your choice7
enter nameArya Bachchan
name 107
The name is Arya Bachchan ,title is Deception Point, author is Dan Brown, date of issuing is 08-04-2020,date of returning is 15-04-2020
 1.Create
 2.Append
 3.Display
 4.Delete by name
 5.Delete by id
 6.Modify name
 7.Search by name
 8.Exit
enter your choice8